.navbar {
  max-height: 30px;
  margin-bottom: 0;
  margin-top: 0;
}
.nav {
  padding: 0;
}

.jumbotron {
  max-height: 230px;
}

.input-group {
  max-width: 550px;
  margin-top: 5px;
}

.form-group {
  max-width: 550px;
  margin-top: 5px;
}

.alert {
  margin-top: 20px;
}

ul {
  list-style: none;
}

ul li {
  padding: 3px;
}
