<div class='container'>
  <div class="jumbotron">
    <h1>Email Client | <span class="glyphicon glyphicon-envelope"></span></h1>
    <nav class='navbar' role='navigation'>
      <ul class='nav navbar-nav'>
        <li>{{#link-to 'inbox'}}Inbox{{/link-to}}</li>
        <li>{{#link-to 'new-email'}}Compose{{/link-to}}</li>
      </ul>
    </nav>
  </div>

  {{outlet}}
</div>
