<h3>{{model.user}}'s Inbox</h3>

{{#each email in model.emails}}
  <ul>
    <li>{{#link-to 'email' email}}{{email.subject}}{{/link-to}}</li>
  </ul>
{{/each}}

{{#link-to 'new-email'}}Compose{{/link-to}}

{{outlet}}
