<form>
  <h3>New User Inbox</h3>
  <div class="form-group">
    {{input value=user id="user" class="form-control" placeholder="User Name"}}
  </div>

  <button class="btn btn-primary" {{action 'add'}}>Add Inbox</button>
</form>
